<!doctype html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% include "static_files_load.html" %}
</head>
<body>
    <div id="app">
        <table class="table">
            <thead>
            <tr>
                <td>姓名</td>
                <td>年级</td>
                <td>Codforces ID</td>
                <td>AtCoder ID</td>
                <td>NowCoder ID</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <template v-for="member in members">
                <tr>
                    <td>${ member.name }$</td>
                    <td>${ member.grade }$</td>
                    <td>${ member.codeforces }$</td>
                    <td>${ member.atcoder }$</td>
                    <td>${ member.nowcoder }$</td>
                    <td><button type="button" class="btn btn-sm border" @click="deleteMember(member.index, member.name)">删除</button></td>
                </tr>
            </template>
            <tr>
                <td><input class="form-control" style="border: 0" type="text" v-model="add_member.name"></td>
                <td><input class="form-control" style="border: 0" type="text" v-model="add_member.grade"></td>
                <td><input class="form-control" style="border: 0" type="text" v-model="add_member.codeforces"></td>
                <td><input class="form-control" style="border: 0" type="text" v-model="add_member.atcoder"></td>
                <td><input class="form-control" style="border: 0" type="text" v-model="add_member.nowcoder"></td>
                <td><button type="submit" class="btn btn-default" @click="addMember()">添加</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="../static/javascript/admin.app.js"></script>
</body>
</html>