<!doctype html>
{% if members %}
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% include "static_files_load.html" %}
    <script src="../static/javascript/color.js"></script>
    <script src="../static/javascript/generate.gragh.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="app">
        <table class="table">
            <thead>
            <tr>
                <td>姓名</td>
                <td>年级</td>
                <td>Codeforces ID</td>
                <td @click="sortRatingCol('codeforces')">Codeforces Rating {{ codeforces_rating_mark }}</td>
                <td>Codeforces 场次</td>
                <td @click="sortSubmitCol('codeforces')">Codeforces 做题数</td>
                <td>AtCoder ID</td>
                <td @click="sortRatingCol('atcoder')">AtCoder Rating {{ atcoder_rating_mark }}</td>
                <td>AtCoder 场次</td>
                <td @click="sortRatingCol('nowcoder')">牛客网Rating</td>
                <td>牛客网场次</td>
            </tr>
            </thead>
            <tbody>
                <div v-if="is_loading">
                    数据爬取中，请稍等片刻。。
                </div>
                <template v-for="member in members">
                    <tr class="hover-cursor-hand" @click="showRow(member.index)">
                        <td>${ member.name }$</td>
                        <td>${ member.grade }$</td>
                        <td class="member-id" :style="'color: ' + getCodeforcesRatingColor(table[member.index].codeforces_contest.rating)">${ member.codeforces }$</td>
                        <td :style="'color: ' + getCodeforcesRatingColor(table[member.index].codeforces_contest.rating)">${ table[member.index].codeforces_contest.rating }$</td>
                        <td>${ table[member.index].codeforces_contest.length }$</td>
                        <td>${ table[member.index].codeforces_submit.accept_count }$/${ table[member.index].codeforces_submit.submit_count }$</td>
                        <td class="member-id" :style="'color: ' + getAtcoderRatingColor(table[member.index].atcoder_contest.rating)">${ member.atcoder }$</td>
                        <td :style="'color: ' + getAtcoderRatingColor(table[member.index].atcoder_contest.rating)">${ table[member.index].atcoder_contest.rating }$</td>
                        <td>${ table[member.index].atcoder_contest.length }$</td>
                        <td>${ table[member.index].nowcoder_contest.rating }$</td>
                        <td>${ table[member.index].nowcoder_contest.length }$</td>
                    </tr>
                    <tr v-show="show['graph_' + member.index + '_show']">
                        <td colspan="8">
                            <button type="button" :class="cls['btn_' + member.index + '_codeforces']" @click="showGraph(member.index, 'codeforces')">Codeforces</button>
                            <button type="button" :class="cls['btn_' + member.index + '_codeforces_submit']" @click="showSubmitGraph(member.index, 'codeforces')">Codeforces做题情况</button>
                            <button type="button" :class="cls['btn_' + member.index + '_atcoder']" @click="showGraph(member.index, 'atcoder')">AtCoder</button>
                            <button type="button" :class="cls['btn_' + member.index + '_nowcoder']" @click="showGraph(member.index, 'nowcoder')">NowCoder</button>
                            <div style="margin: 10px"></div>
                            <div style="width: 600px; height: 400px;" :id="'graph-' + member.index + '-codeforces'" v-if="show['graph_' + member.index + '_codeforces_show']"></div>
                            <div style="width: 600px; height: 400px;" :id="'graph-' + member.index + '-codeforces_submit'" v-if="show['graph_' + member.index + '_codeforces_submit_show']"></div>
                            <div style="width: 600px; height: 400px;" :id="'graph-' + member.index + '-atcoder'" v-if="show['graph_' + member.index + '_atcoder_show']"></div>
                            <div style="width: 600px; height: 400px;" :id="'graph-' + member.index + '-nowcoder'" v-if="show['graph_' + member.index + '_nowcoder_show']"></div>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <script>
        let members = {{ members_json | safe }};
    </script>
    <script src="../static/javascript/index.app.js"></script>
</body>
</html>
{% endif %}
