<link rel="stylesheet" href="{{ bootstrap_css | default:'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' }}">
<script src="{{ bootstrap_js | default:'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js' }}"></script>
<script src="{{ vue_js | default:'https://cdn.jsdelivr.net/npm/vue/dist/vue.js' }}"></script>
<script src="{{ echars_js | default:'https://cdn.jsdelivr.net/npm/echarts@5.1.1/dist/echarts.min.js' }}"></script>
<script src="{{ axios_js | default:'https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js' }}"></script>
